DATABASE_URL="postgresql://complif:complif@localhost:5400/onboarding_db"
TAX_ID_API_URL="http://localhost:4001"
JWT_SECRET="secreto_de_complif"
JWT_REFRESH_SECRET="secreto_de_refresco_de_complif"
NODE_ENV=development
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test      # LocalStack acepta cualquier string
AWS_SECRET_ACCESS_KEY=test  # LocalStack acepta cualquier string
AWS_S3_BUCKET_NAME=onboarding-documents
LOG_LEVEL=info